<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>5755D6</string>
	<key>scheduleMenuColor</key>
	<string>FF9500</string>
	<key>workshopMenuColor</key>
	<string>FF3B31</string>
	<key>liveUpdatesMenuColor</key>
	<string>057AFF</string>
	<key>sponsorsMenuColor</key>
	<string>5755D6</string>
	<key>faqsMenuColor</key>
	<string>229A55</string>
	<key>profileMenuColor</key>
	<string>057AFF</string>
</dict>
</plist>
